<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <input id="prodname" placeholder="name of product" />
      <input id="prodprice" placeholder="enter new price" />
      <input id="prodqua" placeholder="enter new quantity" />
      <button id="updatebtn">Update</button>
    </div>
    <div>
      <input id="newprod" placeholder="name of product" />
      <input id="newprice" placeholder="enter new price" />
      <input type="file" id="newimg" />
      <input id="newqua" placeholder="quantity" />
      <button id="createbtn">CREATE</button>
    </div>
    <script src="/adminpage.js"></script>
  </body>
</html>
