<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="/graphs.css" />
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
    viewBox="0 0 16 16">
    <symbol id="home" viewBox="0 0 16 16">
      <path
        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
  </svg>
  <nav class="nav">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <svg class="bi" width="24" height="24">
          <use xlink:href="#home" />
        </svg>
      </a>
    </div>
  </nav>
  <div id="Graph_A">
    <h2 id="GraphA" >Sales of each product graph:</h2>
  <div id="salesGraph"></div>
  </div>

  <!-- Include D3.js library -->
<script src="https://d3js.org/d3.v6.min.js"></script>

<!-- Include your graphing logic -->
<script src="graph.js"></script>
</body>
</html>