<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Change Password</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form id="passwordForm">
            <input
              type="password"
              class="input-lg form-control"
              name="password1"
              id="password1"
              placeholder="New Password"
              autocomplete="off"
            />

            <input id="passbtn" type="submit" value="Change Password" />
          </form>
        </div>
        <!--/col-sm-6-->
      </div>
      <!--/row-->
    </div>
  </body>
  <script src="/passchange.js"></script>
</html>
