<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/registerstyle.css">
  <title>Document</title>
</head>
<body>
  <div class="thing">
    <div class="form">
      <form class="register-form">
        <input class="boxes" id="firstname" placeholder="First Name">
        <input class="boxes" id="lastname" placeholder="Last Name">
        <input type="email" class="boxes" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <input type="password" id="confirmpassword" placeholder="Confirm Password">
        <button type="button" id="register" class="btn btn-primary" onclick="return validatePassword();">Register</button>
      </form>
    </div>
  </div>
  <script src="/register.js"></script>
</body>
</html>
