<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Transactions</title>
    <link rel="stylesheet" href="/usertransactions.css" />
</head>
<body>
    <nav class="nav">
        <div class="nav-button">
            <a href="/home" class="nav-link" id="settings">---Home</a>
        </div>
        <div class="nav-button">
            <a href="/userinfo" class="nav-link" id="settings">Back to settings</a>
        </div>
    </nav>
    <div class="container">
        <table id="userTable">
            <tbody>
                <tr class="transaction-gap"></tr> <!-- Gap between transactions -->
                <tr class="transaction-gap"></tr> <!-- Gap between transactions -->
                <tr class="transaction-gap"></tr> <!-- Gap between transactions -->
                <!-- Add more transaction gaps here if needed -->
            </tbody>
        </table>
    </div>
    <script src="/usertransactions.js"></script>
</body>
</html>
