
#productCount {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .table {
    margin-bottom: 30px;
  }
 
  .table td img {
    width: 150x;
    height: 100px;
  }
  
  #newProductForm + a {
    margin-bottom: 10px;
  }
  
  #newProductForm button.btn-danger {
    margin-left: 5px;
  }
  
  #newProductForm input,
  #newProductForm textarea {
    display: none;
  }
  
  #newProductForm.editing input,
  #newProductForm.editing textarea {
    display: block;
  }
  
  #newProductForm.editing button.btn-success {
    display: inline-block;
  }
  
  #newProductForm:not(.editing) button.btn-success {
    display: none;
  }
  