@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.nav {
  padding: 10px 0;
}
.branch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the container */
  margin-bottom: 20px;
  column-count: 2; /* Multiple Columns */
  column-gap: 20px; /* Gap between columns */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Clip overflow content */
}

.branch {
  width: calc(50% - 10px); /* Adjusted width for columns with gap */
  padding: 15px; /* Adjust padding for smaller cards */
  margin: 10px; /* Added margin for centering */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out; /* Transition */
}
.branch:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
.branch img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.branch h3 {
  margin-top: 0;
}
.map-container {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}
body {
  background-color: #efebe5;
}
h1 {
  text-align: center;
}
