@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.disabled {
  display: none !important;
}
.active {
  display: block;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
#sort-item{
margin-left: 100px;;

}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.bg-brown {
  background-color: #efebe5; 
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}
#images
{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left:30px;
  margin-right: 30px;
  align-items: center;
  display: flex;
  justify-content: center;

}
#username
{
  margin-left:30px;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

  #filtering {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    place-items: center
}

#ourp
{
  text-shadow: 7px 6px 6px rgb(212, 212, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx- large;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
#vid iframe {
  margin: 40px;
}
#vid
{
  flex-wrap: wrap;
  justify-content: center;
  background-color: #efebe5;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%; 
  box-sizing: border-box; 
}
