
body {
    font-family: Arial, sans-serif;
    background-color: #efebe5;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;

}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #9a9792;
    color: white;
    font-weight: bold;
}

.transaction-gap {
    height: 1px;
    background-color: transparent;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}
.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.nav {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
